#!/usr/bin/make -f

PYTHONS:=$(shell pyversions -vr)
PYTHON3S:=$(shell py3versions -vr)

UPSTREAM_GIT = git://github.com/seamicro/python-seamicroclient.git
-include /usr/share/openstack-pkg-tools/pkgos.make

export OSLO_PACKAGE_VERSION=$(VERSION)

%:
	dh $@ --buildsystem=python_distutils --with python2
	#,python3

override_dh_install:
	set -e && for pyvers in $(PYTHONS); do \
		python$$pyvers setup.py install --install-layout=deb \
			--root $(CURDIR)/debian/python-seamicroclient; \
	done
#	set -e && for pyvers in $(PYTHON3S); do \
#		python$$pyvers setup.py install --install-layout=deb \
#			--root $(CURDIR)/debian/python3-seamicroclient; \
#	done

override_dh_auto_test:
ifeq (,$(findstring nocheck, $(DEB_BUILD_OPTIONS)))
	@echo "===> Running tests"
	set -e ; set -x ; for i in 2.7 ; do \
		PYMAJOR=`echo $$i | cut -d'.' -f1` ; \
		echo "===> Testing with python$$i (python$$PYMAJOR)" ; \
		rm -rf .testrepository ; \
		testr-python$$PYMAJOR init ; \
		TEMP_REZ=`mktemp -t` ; \
		PYTHONPATH=$(CURDIR) PYTHON=python$$i testr-python$$PYMAJOR run --subunit 'seamicroclient.tests.(?!(.*v2\.test_servers\.ServersTest\.test_server_unset_untagged_vlan.*|.*v2\.test_servers\.ServersTest\.test_server_unset_tagged_vlan.*|.*test_http\.ClientTest\.test_get.*|.*test_http.ClientTest.test_post.*|.*v2\.test_fantrays\.FanTraysTest\.test_list_fantrays.*|.*v2\.test_scards\.ScardsTest\.test_list_scards.*|.*v2\.test_servers\.ServersTest\.test_server_set_tagged_vlan.*|.*v2\.test_servers\.ServersTest\.test_server_set_untagged_vlan.*|.*tests\.v2\.test_servers\.ServersTest\.test_server_unset_tagged_vlan.*|.*tests\.v2\.test_servers\.ServersTest\.test_server_unset_untagged_vlan.*|.*v2\.test_system\.Systemstest\.test_list_system.*|.*functional.*))' | tee $$TEMP_REZ | subunit2pyunit ; \
		cat $$TEMP_REZ | subunit-filter -s --no-passthrough | subunit-stats ; \
		rm -f $$TEMP_REZ ; \
		testr-python$$PYMAJOR slowest ; \
	done
endif
